.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form button {
  cursor: pointer;
  width: 4rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  font-weight: 900;
  font: inherit;
  text-align: center;

  padding: 0.2rem 0.2rem;

  box-shadow: 0 0 40px rgba(255, 200, 0, 0.248);
  background-color: rgba(255, 255, 255, 0.07);
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  color: rgba(0, 0, 0, 0.792);
}

.form p {
  font-weight: 900;
  color: #020202ae;
}

.form button:hover,
.form button:active {
  background-color: #641e0350;
  border-color: #641e0331;
}

@media (max-width: 600px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: right;
  }

  .form button {
    width: 2.5rem;
    height: 1.3rem;

    font-size: 1rem;

    padding: 0.2rem 0.2rem;

    border: 3px solid rgba(255, 255, 255, 0.1);
  }

  .form p {
    text-align: right;
    font-weight: 900;
    color: #020202ae;
    font-size: 0.5rem;
  }

  .form button:hover,
  .form button:active {
    background-color: #641e0350;
    border-color: #641e0331;
  }
}
