.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
}

.footerUL {
  margin: 0;
  padding: 0;
  display: flex;
}

.footerUL li {
  list-style: none;
}

.footerUL li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 29px rgb(0, 0, 0);
  /* background: linear-gradient(
    0deg,
    rgb(0, 0, 0),
    rgb(255, 255, 255)
  ); */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(19px);

  transition: 0.2s;
}

.footerUL li a:hover {
  transform: scale(0.96);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.43);
  text-decoration: none;
}

.footerUL li a .fab {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(
    0deg,
    rgba(235, 107, 3, 0),
    rgba(195, 78, 0, 0.493)
  );
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: 0.5s;
}

.footerUL li:nth-child(1) a:hover .fab {
  color: rgba(255, 255, 255, 0.849);
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.footerUL li:nth-child(2) a:hover .fab {
  color: #00aced;

}

.footerUL li:nth-child(3) a:hover .fab {
  color: #e1e1e1;
}

.footerUL li:nth-child(4) a:hover .fab {
  color: #0b66c3;
}

@media (max-width: 600px) {
  .footer {
    height: 3.5rem;
  }

  .footerUL li a {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    padding: 0px;
  }

  .footerUL li a .fab {
    width: 100%;
    height: 100%;
    line-height: calc(60px - 19px);
    font-size: 18px;
  }
}