/* Overall header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  background-color: rgba(45, 122, 133, 0.15);
  backdrop-filter: blur(9px);
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0rem 1rem;
}

/* Logo  */

.logo {
  height: 3.8rem;
}

.brand {
  height: 4rem;
  background-color: rgb(100, 1, 1);
  backdrop-filter: blur(19px);
  padding: 0.75rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  box-shadow: 0 2px 13px 8px rgba(100, 1, 1, 0.421);
  transition: 0.4s;
}

.brand:hover {
  transform: scale(1.1);
}

.name {
  background-image: linear-gradient(45deg, #ffdd00, #ff0000);
  font-size: 2rem;
  font-family: "Corben", cursive;
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* buttons */

.logout {
  padding: 0.9em 1.6em;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.389);
  font-family: inherit;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  background-color: #ff000000;
}

.logout:hover {
  transform: scale(1.1);
  color: rgba(255, 255, 255, 0.718);
  border-radius: 25px;
  box-shadow: 0 2px 13px 8px rgba(100, 1, 1, 0.421);
  background-color: #ff000047;
}

.logout::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff00f7,
    #f6ff00,
    #00ffbb,
    #ff0000,
    #2600ff,
    #4aff03,
    #ff9d00,
    #ff0037
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: 7rem;
  height: 3.6rem;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 25px;
  opacity: 0;
}
.logout:hover::before {
  opacity: 1;
}

/* other buttons */

.authBtn {
  padding: 0.9em 1.6em;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.389);
  font-family: inherit;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  text-decoration: none;
}

/* glow */
.authBtn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #002bff,
    #ff00c8,
    #002bff,
    #ff0000,
    #002bff,
    #ff00c8,
    #002bff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 25px;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* hover */
.authBtn:hover::before {
  opacity: 1;
}

@media (max-width: 920px) {
  /* Overall header */

  .header {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
  }

  .header ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin-top: 1rem;
  }

  .header li {
    margin: 0rem;
  }

  /* Logo  */

  .logo {
    height: 2.5rem;
    padding-right: 5px;
  }

  .brand {
    height: 3.5rem;
    padding: 0.75rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .brand:hover {
    transform: none;
  }

  .name {
    font-size: 1.4rem;
  }

  /* buttons */

  .logout {
    padding: 0.5em 1em;
    font-size: 10px;
  }

  .logout:hover {
    transform: none;
    border-radius: 25px;
  }

  .logout::before {
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 25px;
    opacity: 0;
  }

  /* other buttons */

  .authBtn {
    padding: 0.2rem 0rem;
    font-size: 10px;
  }
}
