.msg {
  text-align: center;
  color: rgba(255, 255, 255, 0.567);
  margin: 3rem auto;
  font-weight: 900;
  letter-spacing: 2px;
  word-spacing: 9px;
}
@media (max-width: 600px) {
  .msg {
    margin: 3rem 1rem;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-size: 0.7rem;
  }
}
