.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.814);
}

.modal {
  position: fixed;
  top: 4vh;
  max-height: 92vh;
  background-color: rgba(226, 93, 21, 0.37);
  padding: 0.8rem;
  border-radius: 14px;
  backdrop-filter: blur(50px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 40rem;
  left: calc(50% - 20rem);
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* scroll bar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(135, 131, 131, 0.178);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(114, 114, 114, 0.495);
}

@media (max-width: 600px) {
  .backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    overflow: visible;
  }
  .modal {
    position: fixed;
    top: 4vh;
    max-height: 92vh;
    padding: 0.8rem 0.5rem;
    width: 20rem;
    left: calc(50% - 10rem);
  }
}
